extends ../layout

block content

  h3 Client Claims

  h5#client-number #{user.CLIENTNUM}

  .client-claims-table
    //- Data table to append results to.
    table.table
      thead
        tr
          th Title Number
          th Claim Name
          th % Ownership
          th Claim Type
          th Issue Date 
          th Good Until Date
          th Area (ha)
      tbody

  script.
    $(function() {
      var clientNumber = $('#client-number').text()

      $.getJSON('/clientclaims/search', {
        clientnum: clientNumber
      },


      function(results){
        //- Put data in table
        var table = $(".client-claims-table").find('tbody');
        
        results.forEach(function(result) {
          var tr = $("<tr>").appendTo(table);


          $("<td>").appendTo(tr).text(result.properties.TNRNMBRD);
          $("<td>").appendTo(tr).text(result.properties.CLAIM_NAME);
          $("<td>").appendTo(tr).text(result.properties.PRCNTOWNER); 
          $("<td>").appendTo(tr).text(result.properties.TNRTPDSCRP);
          var gtd = moment(result.properties.GDTDT).format('MMM DD, YYYY'); 
          $("<td>").appendTo(tr).text(gtd);
          var issue = moment(result.properties.ISSUE_DATE).format('MMM DD, YYYY'); 
          $("<td>").appendTo(tr).text(issue);
          $("<td>").appendTo(tr).text(result.properties.OWNER_NAME); 
          $("<td>").appendTo(tr).text(result.properties.RNHCTRS);   
        });
      });
    });