extends layout

block content
  h1 Map Em Gems
  p.lead Responsive Map for B.C. Mining Cliams Data
  hr
  .row
    .col-sm-6
      h2 Background
      p Map Em Gems provides users an app that is responsive with up-to-date mining claim data. The beautiful map with easy-to-read mining area polygons is clear and informative. The app has faster response time than B.C. Mineral Titles Online (MTO) & Data B.C. sites. Map Em Gems is the easiest mining clam database to navagate!
      p
        a.btn.btn-default(href='/map', role='button') View Map »

    .col-sm-6
      h2 Future Features
      p -Watch list for users
      p -Email notification of claim expiraton
      p -Map download & other features
      p
        a.btn.btn-default(href='/map', role='button') View Map »

