extends layout

block content
  .col-sm-12.background-image-home
    br
    h1.title Mining Claims Mapping
    p.lead Responsive Map for B.C. Mining Cliams Data

    //- hr
    //- a.col-sm-6.button.btn.btn-primary.btn-lg.btn-block(href='/map', type='button') Button 1
    //- a.col-sm-6.button.btn.btn-default.btn-lg.btn-block(href='/contact', type='button') Button 2
    //- a.btn.btn-primary.btn-lg.active(href='/map', role='button') Map
    //- a.btn.btn-secondary.btn-lg.active(href='/contact') Contact
    br


    br
    .row
      .btn-group.btn-group-justified(role='group', aria-label='...')
        .btn-group(role='group')
          button.btn.btn-default.home(type='button') Sign Up
        //- .btn-group(role='group')
        //-   button.btn.btn-default(type='button') Middle
        .btn-group(role='group')
          button.btn.btn-default.home(type='button', href='/map', role='button') View Map »
  .row
    .col-sm-12.description
      .row.front-info
        .col-sm-12.background-text
          h2 Better Mapping for Your Claims
          p.center Map Em Gems is a responsive up-to-date mining claim data map. The beautiful map with shaded mining area polygons is easy to navaigate. This map is easier to look up mining claim details than Mineral Titles Online (MTO) & Data B.C. sites.




    //- This is to fix container margins on homepage, fix navbar ect without affecting the layout on the other pages.
    script.
      $(function() {
        $('body > .container').css('margin-left', '0').css('width', '100%').css('margin-right', '0').css('padding-left', '0').css('padding-right', '0');
      });
