extends layout

block content
  h1 Map Em Gems
  p.lead Responsive Map for B.C. Mining Cliams Data
  hr
  .row
    .col-sm-6
      h2 Background
      p We are want to provide users an app that is responsive with up-to-date mining cliam data. The beautiful map with shaded mining areas polygons is easy to navaigate. Mineral Titles Online (MTO) & Data B.C. sites are outdated designs with slow response times.
      p
        a.btn.btn-default(href='#', role='button') View details »
        a(href='/map') Map

    .col-sm-6
      h2 Future Features
      p -Watch list for users
      p -Email notification of claim expiraton
      p -Map download & other features
      p
        a.btn.btn-default(href='#', role='button') View details »
        a(href='/map') Map

