extends layout

block content
  .background-image-home
    br
    h1 Map Em Gems
    p.lead Responsive Map for B.C. Mining Cliams Data
    hr
    .row

    #home
<<<<<<< HEAD
      .container-fluid
        br
        //- a.button.btn.btn-primary.btn-lg.btn-block(href='/map', type='button') Button 1
        //- a.button.btn.btn-default.btn-lg.btn-block(href='/contact', type='button') Button 2
    
        a.btn.btn-primary.btn-lg.active(href='/map', role='button') Map
        a.btn.btn-secondary.btn-lg.active(href='/contact') Contact
        br
        .col-sm-6
          h2 Our story
          p.center Map Em Gems is a responsive up-to-date mining claim data map. 
          br
          p.center The beautiful map with shaded mining area polygons is easy to navaigate. This map is easier to look up mining claim details than Mineral Titles Online (MTO) & Data B.C. sites. You are ready to mine some gems with the help of Map Em Gems!
          p
            a.btn.btn-default(href='/map', role='button') View Map »
      
      //- .col-sm-6
      //-   h2 Future Features
      //-   p.center -Watch list of claims
      //-   p.center -Email notification of claim expiration
      //-   p.center -Map download & more!
      //-   p
      //-     a.btn.btn-default(href='/map', role='button') View Map »
=======
      br
      a.button.btn.btn-primary.btn-lg.btn-block(href='/map', type='button') Button 1
      a.button.btn.btn-default.btn-lg.btn-block(href='/contact', type='button') Button 2
  
      a.btn.btn-primary.btn-lg.active(href='/map', role='button') Map
      a.btn.btn-secondary.btn-lg.active(href='/contact') Contact
      br
      .col-sm-6
        h2 Background
        p.center Map Em Gems is a responsive up-to-date mining claim data map. The beautiful map with shaded mining area polygons is easy to navaigate. This map is easier to look up mining claim details than Mineral Titles Online (MTO) & Data B.C. sites. You are ready to mine some gems with the help of Map Em Gems!
        p
          a.btn.btn-default(href='/map', role='button') View Map »
      
      .col-sm-6
        h2 Future Features
        p.center -Watch list of claims
        p.center -Email notification of claim expiration
        p.center -Map download & more!
        p
          a.btn.btn-default(href='/map', role='button') View Map »
>>>>>>> cb51e056b1ad2790981773945a7cd82ab30a56a8
      br
      #map