extends layout

block content
  .col-sm-12.background-image-home
    br
    h1.title Mining Claims Mapping
    .lead 
      span Responsive Map for B.C. Mining Claims Data
    br
    br
    br
    br


    br
    .row
      .btn-groups
        // Indicates a successful or positive action
        a.btn.btn-primary.btn-map.home(href='/map',type='button') View Map »
        if !user
          a.btn.btn-success.home(href='/signup', type='button') Sign Up
        

      //- .btn-group.btn-group-justified(role='group', aria-label='...')
      //-   .btn-group(role='group')
      //-     button.btn.btn-success.home.signup(type='button') Sign Up
      //-   .btn-group(role='group')
      //-     button.btn.btn-info.home.btn-map(type='button', href='/map', role='button') View Map »
  .row
    .col-sm-12.description
      .row.front-info
        .col-sm-6.background-text
          .big Better Mapping for Your Claims
          h2.center Mining Claims Mapping is a responsive up-to-date mining claim data map.  Our app simplifies the process of searching claim details on the Mineral Titles Online (MTO) & Data B.C. sites.
      .row
        .col-sm-11.screen-shot
          img(src='/images/Screen_Satellite.png')
          img(src='/images/screen-shot3_square.png')
          img(src='/images/dark.png') 
          img(src='/images/screen-shot1_square.png')




    //- This is to fix container margins on homepage, fix navbar ect without affecting the layout on the other pages.
    script.
      $(function() {
        $('body > .container').css('margin-left', '0').css('width', '100%').css('margin-right', '0').css('padding-left', '0').css('padding-right', '0');
      });
