extends layout

block content
  #map

  .search-bar
    form(id="searchForm", name="claim_search")
      div.input
        span.label ClientNum
        input(type="text", id="ClientNum", name="CLIENTNUM", placeholder="Client Number")
      div.input
        span.label TNRNMBRD
        input(type="text", id="TNRNMBRD", name="TNRNMBRD", placeholder="TNRNMBRD")
      div.input
        span.label TNRTPDSCRP
        input(type="text", id="TNRTPDSCRP", name="TNRTPDSCRP", placeholder="TNRTPDSCRP")
      div.input
        span.label GDTDT
        input(type="text", id="GDTDT", name="GDTDT", placeholder="GDTDT")
      div.input
        span.label ownerName
        input(type="text", id="ownerName", name="ownerName", placeholder="ownerName")
      div.actions
        input(type="submit", value="Search")    

  script.

    //- Update map markers with search
    $(function() {
      $("#searchForm").on('submit',function(e){
        e.preventDefault();
        if (typeof featureLayer !== "undefined"){
          map.removeLayer(featureLayer);          
        };
          
        //- Pass in clientid: ClientNum into getJSON
        $.getJSON('/map/search', {
          clientnum: $('#ClientNum').val(),
          TNRNMBRD: $('#TNRNMBRD').val(),
          TNRTPDSCRP: $('#TNRTPDSCRP').val(),
          GDTDT: $('#GDTDT').val(),
          ownerName: $('#ownerName').val()
        },
        function(result){
          map.featureLayer.setGeoJSON(result);
          console.log("result from server", result);
        });
      });
    });

    L.mapbox.accessToken = 'pk.eyJ1Ijoibmd1c3QiLCJhIjoiY2lraHBnaDM3MDI4aHUwbTZnenJ5dno2YyJ9.8iIZEsDPnm2nQ4jV_Yj92A';
    
    //- Map initialize
    var map = L.mapbox.map('map', 'mapbox.outdoors')
            .setView([49.72902, -121.43253], 12);
    

    //- var geojson = $.getJSON('/claims/placer',function(result){
    //-         L.mapbox.map('map', 'mapbox.outdoors')
    //-         .setView([49.72902, -121.43253], 12)
    //-         .featureLayer.setGeoJSON(result);
    //-     });