extends layout

block content
  .background-img-regular
    .row 
      .col-sm-9.map
        #map

      .col-sm-3.info-pane
        //- .search-bar
        #header
          form(id="searchForm", name="claim_search")
            div
              h2.search_box_title Search For Claims
              input(type="text", class="form-control", id="ClientNum", name="CLIENTNUM", placeholder="Client Number")
            div
              input(type="text", class="form-control", id="TNRNMBRD", name="TNRNMBRD", placeholder="Tenure Number")
            div
              select(name="TNRTPDSCRP", class='dropSearch', id='TNRTPDSCRP')
                option(value="") Claim Type
                option(value="Coal") Coal
                option(value="Mineral") Mineral
                option(value="Placer") Placer
            div
              input(type="text", class="form-control", id="GDTDT", name="GDTDT", placeholder="Expiring Before (YYMMDD)")
            div
              input(type="text", class="form-control", id="ownerName", name="ownerName", placeholder="Owner Name")
            div
              input(type="submit", class="actions", value="Search")   

        .results-count 

        .data-table

    //- Handlebars cdn
  script(src='https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.5/handlebars.min.js')

  link(rel='stylesheet', href='https://api.mapbox.com/mapbox.js/plugins/leaflet-minimap/v1.0.0/Control.MiniMap.css')

  //- GeoJson Vector Tiles Script
  script(src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.15.0/mapbox-gl.js')
  link(rel='stylesheet', href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.15.0/mapbox-gl.css')

  //- Handlebars template
  script#entry-template(type='text/x-handlebars-template').
    <h2>{{tenure}}</h2>
    <p>{{clinum}}</p>
    <p>{{claim_name}}</p>
    <p>{{owner_name}}</p>
    <p>{{type}}</p>
    <p>{{good_until}}</p>
    <p>{{issue_date}}</p>


  script.
    $('body > .container').css('margin-left', '0').css('width', '100%').css('margin-right', '0').css('padding-left', '20').css('padding-right', '20');

  script.
    $(function() {
      //- row and mapPoints for hiding and showing results details
      var row = "start";
      var mapPoints 

      $("#searchForm").on('submit',function(e){
        e.preventDefault();
        if (typeof mapPoints !== "undefined"){
          map.removeLayer(mapPoints);          
        };

        // Geo Query Stuff (Nick)
        var ne_lat = map.getBounds().getNorthEast().lat;
        var ne_lng = map.getBounds().getNorthEast().lng;
        var sw_lat = map.getBounds().getSouthWest().lat;
        var sw_lng = map.getBounds().getSouthWest().lng;

        //- Take form data and pass to server
        $.getJSON('/map/search', {
          clientnum: $('#ClientNum').val(),
          TNRNMBRD: $('#TNRNMBRD').val(),
          TNRTPDSCRP: $('#TNRTPDSCRP').val(),
          GDTDT: $('#GDTDT').val(),
          ownerName: $('#ownerName').val(),
          ne_lat, ne_lng, sw_lat, sw_lng
        },

    
        //- results from getJSON

        function(results){

            $(".results-count").empty();
            $("<h4>").appendTo(".results-count").text("Results Count: " + results.length);

            // Changes format of GeoJSON
            polygons = {
              type: "FeatureCollection",
              features: results };

            // Remove existing map data if present 
            if (map.getSource('poly')) {
                map.removeSource('poly');
            }
            var poly = new mapboxgl.GeoJSONSource({ data: polygons });
                map.addSource('poly', poly); // add

                map.addLayer({
                    'id': 'Coal',
                    'type': 'fill',
                    'source': 'poly',
                    "interactive": true,
                    'layout': {},
                    "filter": ["==", "TNRTPDSCRP", "Coal"],
                    'paint': {
                        'fill-color': '#292929',
                        'fill-opacity': 0.4,
                        'fill-outline-color': '#000' 
                    }
                });
                map.addLayer({
                    'id': 'Mineral',
                    'type': 'fill',
                    'source': 'poly',
                    "interactive": true,
                    'layout': {},
                    "filter": ["==", "TNRTPDSCRP", "Mineral"],
                    'paint': {
                        'fill-color': '#0033cc',
                        'fill-opacity': 0.4,
                        'fill-outline-color': '#000c2f' 
                    }
                });
                map.addLayer({
                    'id': 'Placer',
                    'type': 'fill',
                    'source': 'poly',
                    "interactive": true,
                    'layout': {},
                    "filter": ["==", "TNRTPDSCRP", "Placer"],
                    'paint': {
                        'fill-color': '#cc00cc',
                        'fill-opacity': 0.4,
                        'fill-outline-color': '#800080' 
                    }
                });
                map.addLayer({
                    "id": "hover",
                    "type": "fill",
                    "source": "poly",
                    "layout": {},
                    "paint": {
                        "fill-color": "#00892b",
                        "fill-opacity": 0.8,
                        'fill-outline-color': '#000' 
                    },
                    "filter": ["==", "TNRNMBRD", ""]
                });
                map.on("mousemove", function(e) {
                  map.featuresAt(e.point, {
                    radius: 5,  
                    includeGeometry: true 
                  }, function (err, features) {
            
                    if (err) throw err
                    //- console.log(e.point, features);
                     var ids = features.map(function (feat) { return feat.properties.TNRNMBRD });
                     console.log(ids);
                     map.setFilter('hover', [ 'all',
                        [ 'in', 'TNRNMBRD' ].concat(ids)
                        ]);
                    var table = $(".data-table").empty();
                    features.forEach(function(result) {

                        var div_result = $("<div>").addClass("each_result_table").appendTo(table);


                          //- handlebars templating for displaying claim details
                        var source   = $("#entry-template").html();
                        var template = Handlebars.compile(source);
                        var gtd = moment(result.properties.GDTDT).format('MMM DD, YYYY');
                        var issue = moment(result.properties.ISSUE_DATE).format('MMM DD, YYYY'); 

                        var context = {
                        clinum: "Client Number: " + result.properties.CLIENTNUM, 
                        claim_name: "Claim Name: " + result.properties.CLAIM_NAME,
                        owner_name: "Owner Name: " + result.properties.OWNER_NAME,
                        tenure: "Tenure: " + result.properties.TNRNMBRD,
                        type: "Type: " + result.properties.TNRTPDSCRP,
                        good_until: "Good To Date: " + gtd,
                        issue_date: "Issue Date: " + issue
                        }

                        var el_html = template(context);

                        div_result.html(el_html);
                    });  //Ends for each function
                  });
                });

        });  // Ends function(results)
      }); // Ends the on submit click handler
    }); //-ends document ready. 

     mapboxgl.accessToken =  'pk.eyJ1Ijoibmd1c3QiLCJhIjoiY2lraHBnaDM3MDI4aHUwbTZnenJ5dno2YyJ9.8iIZEsDPnm2nQ4jV_Yj92A'; 

    var map = new mapboxgl.Map({
        container: 'map',
        style: '/outdoors-v8.json',
        center: [-120.79433441162108, 49.49935027965388],
        zoom: 12
    });