extends layout

block content
  .page-header
    h3 Here is the Map Dude.
    p hello
    p hey whats going on
    #map



  script.
    L.mapbox.accessToken = 'pk.eyJ1Ijoibmd1c3QiLCJhIjoiY2lraHBnaDM3MDI4aHUwbTZnenJ5dno2YyJ9.8iIZEsDPnm2nQ4jV_Yj92A';
    
    //- var geojson = mongoose.model('Claim').find({'properties.CLIENTNUM': 278107});
     var geojson = $.getJSON('/claims/nick',function(result){
            return result;
        });
    L.mapbox.map('map', 'mapbox.outdoors')
      .featureLayer.setGeoJSON(geojson);