extends layout

block content

  .row 
    .col-sm-9
      #map

    .col-sm-3.info-pane
      .search-bar
        form(id="searchForm", name="claim_search")
          div.input
            span.label ClientNum
            input(type="text", class="form-control", id="ClientNum", name="CLIENTNUM", placeholder="Client Number")
          div.input
            span.label Tenure No.
            input(type="text", class="form-control", id="TNRNMBRD", name="TNRNMBRD", placeholder="TNRNMBRD")
          div.input
            span.label Type
            select(name="TNRTPDSCRP", class='input', id='TNRTPDSCRP')
              option(value="") TNRTPDSCRP
              option(value="Coal") Coal
              option(value="Mineral") Mineral
              option(value="Placer") Placer
          div.input
            span.label GDTDT
            input(type="text", class="form-control", id="GDTDT", name="GDTDT", placeholder="GDTDT (YYMMDD)")
          div.input
            span.label Owner Name
            input(type="text", class="form-control", id="ownerName", name="ownerName", placeholder="ownerName")
          div.actions
            input(type="submit", class="btn btn-primary", value="Search")   

      .results-count 

      .data-table


  script.
    $(function() {
      $("#searchForm").on('submit',function(e){
        e.preventDefault();
        if (typeof featureLayer !== "undefined"){
          map.removeLayer(featureLayer);          
        };

        //- Take form data and pass to server
        $.getJSON('/map/search', {
          clientnum: $('#ClientNum').val(),
          TNRNMBRD: $('#TNRNMBRD').val(),
          TNRTPDSCRP: $('#TNRTPDSCRP').val(),
          GDTDT: $('#GDTDT').val(),
          ownerName: $('#ownerName').val()
        },
        function(results){
          //- Pass results to the mapbox map.
          map.featureLayer.setGeoJSON(results);
          $(".results-count").empty();
          $("<p>").appendTo(".results-count").text("Results Count: " + results.length);


          var table = $(".data-table").empty();

          results.forEach(function(result) {
            $("<h4>").appendTo(table).addClass('accordion-toggle').text("Client Number: " + result.properties.CLIENTNUM);
            var div_result = $("<div>").addClass("each_result_table").appendTo(table);
            $("<p>").appendTo(div_result).text("Client Number: " + result.properties.CLIENTNUM);
            $("<p>").appendTo(div_result).text("Owner Name: " + result.properties.OWNER_NAME);
            $("<p>").appendTo(div_result).text("Tenure Number: " + result.properties.TNRNMBRD);
            $("<p>").appendTo(div_result).text("Type: " + result.properties.TNRTPDSCRP);
            $("<p>").appendTo(div_result).text("Expiration Date: " + result.properties.GDTDT);

            table.find('.accordion-toggle').on('click', function(){
              $(this).next().addClass('visible');
              $(".each_result_table").not($(this).next()).removeClass('visible');
            });
          })
        });
      });
    });

    L.mapbox.accessToken = 'pk.eyJ1Ijoibmd1c3QiLCJhIjoiY2lraHBnaDM3MDI4aHUwbTZnenJ5dno2YyJ9.8iIZEsDPnm2nQ4jV_Yj92A';
    
    //- Map initialize
    var map = L.mapbox.map('map', 'mapbox.outdoors')
            .setView([49.72902, -121.43253], 12);


