extends layout

block content
  //- .page-header
  //-   h3 Here is the Map Dude.
  //-   p hello
  //-   p hey whats going on
  #map

  .search-bar
    //- form(id="theForm", name="claim_search", method="get", action="/map/search")
    form(id="theForm", name="claim_search")
      div.input
        span.label ClientNum
        input(type="text", id="ClientNum", name="CLIENTNUM", placeholder="Client Number")
      div.input
        span.label Description
        textarea(name="description", cols="40", rows="5")
      div.actions
        input(type="submit", value="Search")    

  //- //- Use Jquery and AJAX calls to send out queries??? 
  //- script.
  //-   $(function() {
  //-     $("#theForm").on('submit',function(e){
  //-       var ClientNum = $('#ClientNum').val();
  //-       console.log(ClientNum);
  //-       e.preventDefault();

  //-       var geojson = $.getJSON('/map/search',function(result){
  //-         L.mapbox.map('map', 'mapbox.outdoors')
  //-         .setView([49.72902, -121.43253], 12)
  //-         .featureLayer.setGeoJSON(result);
  //-       });
  //-     });
  //-   });

  script.
    L.mapbox.accessToken = 'pk.eyJ1Ijoibmd1c3QiLCJhIjoiY2lraHBnaDM3MDI4aHUwbTZnenJ5dno2YyJ9.8iIZEsDPnm2nQ4jV_Yj92A';
    
     //- var geojson = $.getJSON('/claims/nick',function(result){
     //-        L.mapbox.map('map', 'mapbox.outdoors')
     //-        .setView([49.72902, -121.43253], 12)
     //-        .featureLayer.setGeoJSON(result);

     //-    });

    var geojson = $.getJSON('/claims/placer',function(result){
            L.mapbox.map('map', 'mapbox.outdoors')
            .setView([49.72902, -121.43253], 12)
            .featureLayer.setGeoJSON(result);
        });