
/*.background-img-regular {
  background-color: #556:rgba(0, 0, 0, 0.5);
  background-image: linear-gradient(30deg, #445 12%, transparent 12.5%, transparent 87%, #445 87.5%, #445), linear-gradient(150deg, #445 12%, transparent 12.5%, transparent 87%, #445 87.5%, #445), linear-gradient(30deg, #445 12%, transparent 12.5%, transparent 87%, #445 87.5%, #445), linear-gradient(150deg, #445 12%, transparent 12.5%, transparent 87%, #445 87.5%, #445), linear-gradient(60deg, #99a 25%, transparent 25.5%, transparent 75%, #99a 75%, #99a), linear-gradient(60deg, #99a 25%, transparent 25.5%, transparent 75%, #99a 75%, #99a);
  background-size: 80px 140px;
  background-position: 0 0, 0 0, 40px 70px, 40px 70px, 0 0, 40px 70px; 
}*/


/*FRONT PAGE*/

.background-image-home {
  background-image: url(/images/mining_home_crop.jpg);
  background-repeat: no-repeat;
  height: 600px;
  width: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  text-align: center;
}

h1.title {
  padding: 65px 30px 0px ;
  font-size: 4.5em;
  color: #b35900;
  font-family: Arial, Helvetica !important;
  font-weight: bold;
  text-shadow: 0 5px 8px #000;

}

body .container .lead {
  color: #E0E6F8;
  padding-top: 25px;
  font-size: 2.5em;
  font-family: 'Oswald', sans-serif;
  
}

.lead span {
  text-shadow:
     -1px -1px 2px #333333,  
      1px -1px 2px #333333,
      -1px 1px 2px #333333,
       1px 1px 2px #333333,
       0 5px 8px #000;
}

.btn-groups{
  margin-left:5%;
}

.home {
  border-radius: 25px;
  margin-right: 10%;
  font-size: 2em;
  padding: 20px;
}

.front-info{
  margin-top: 50px;
}

.description{
  background-color: white;
  min-height: 725px;
}

.background-text{
  width: 50%;
/*  margin-left:20%;*/
  text-align: center;
}

.background-text h1 {
  color: black;
  font-family: 'Sintony', sans-serif;
}

.background-text h2 {
  color: black;
  font-family: 'Sintony', sans-serif;
}

.background-text h4{
  color: #b35900;
  margin-top: 30px;
  font-family: 'Oswald', sans-serif;
  line-height: 160%;
  font-size: 1.25em;
}

.screen-shot {
  float: none;
    margin: 0 auto;
}
.screen-shot img{
  /*background-image: url(/images/screen-shot3.png);*/
  /*height: 400px;*/
  width: 400px;
  height: 400px;
  margin-top: 30px;
  margin-left: 50px;7
  margin-right: 50px;
  border-radius: 50%;


}

/*SEARCH PANEL CSS*/

.info-pane{

  overflow: scroll;
  max-height: 90vh;
  height: 95%;  
  /*background: rgba(192,192,192,0.7);*/
}

/* Stuff for search area */

#header {
width: 100%;
right:0;
border:1px solid #d8d8d8;
margin:15px;
padding:20px 40px;
border-radius:3px;
box-shadow:0 0 8px gray
}

h3 {
font-family:'Roboto Slab',serif
}
input[type=text] {
margin-top:10px;
padding:6px;
width:100%;
height: 40px;
font-size:20px;
border-radius:2px;
border:3px solid #98d0f1
}
h4 {
font-size:15px
}
div#title {
position:absolute;
top:300px;
left:650px
}
.dropSearch {
background: transparent;
color: #555555dar;
margin-top:10px;
padding:6px;
width:100%;
height: 40px;
font-size:20px;
border-radius:2px;
border:3px solid #98d0f1
}

select option {
    margin:40px;
    background: darkgray;
    font-size:20px;
    color:#fff;
    text-shadow:0 1px 0 rgba(0,0,0,0.4);
}

.actions {
margin-top:10px;
background:#00892b;
border:none;
color:#fff;
width:100%;
font-size:22px;
font-weight:bolder;
padding:8px 0;
border-radius:3px;
cursor:pointer;
}

/*DATA TABLE*/

.data-table{
  float:right;
  width: 100%;
  clear: both;
  margin-top: 10px;
  padding-left: 20px;
}

.results-count{
  float:right;
  margin-top:20px;
}

.each_result_table{
  margin-top: 25px;
  font-size: 20px;
  display: none;
  font-size:20px;
  color: #00892b;
 /* border: 2px;
  border-color: black;*/
  background-color: blue;
}

.each_result_table p{
  color: #00892b;
  border-bottom:1px dotted #d8d8d8;
  padding-bottom:10px;
  font-size: 20px;
}

.accordion-toggle {
  cursor: pointer;
}


.visible{
  display: inline;
}



#map {
  /*position: absolute; */
  /*top:50px; */
 /* height: 700px; */
  height: 90vh;
  width:100%;
  /*float:left;*/
}


.container.text-center p{
  margin: 10px;
}

.list {
border: 2px;
border-color: black;
margin: 3px;
padding: 2px;
}

.container .text-center p {
  margin: 10px;
}


.container-fluid {
  margin: 0 auto;
  width: 45%;
  /*width: 550px;   */
}

.button.btn.btn-primary.btn-lg.btn-block {
  padding: 14px 24px;
  border: 0 none;
}


body {
  padding-bottom: 35px
}

.big {
  font-size: 3.5em;
  color: #007ac2;
  font-family: "Avenir Next W01","Avenir Next W00","Avenir Next",Avenir,"Helvetica Neue",Helvetica,Arial,sans-serif;
}



.navbar-default .navbar-nav > li > a {
  font-size: 18px;
}